/* TODO: add animations */
/* TODO: refactor to use less.js */
/* TODO: re-order */

/* GENERAL */

body {
  font-family: "Helvetica", "sans-serif";
  font-size: 120%;
}

* {
  margin: 0;
  padding: 0;
}

li, #form, #incognitoMsg, #footer {
  padding: 5px 10px;
}

#template {
  display: none;
}

/* LIST */

#savedWindowList li {
  list-style: none;
  border-radius: 10px;
  margin: 10px 5px;
  color: blue;
  white-space: nowrap;
}

#savedWindowList li:hover {
  background-color: #eee;
}

#savedWindowList li:hover > .delete {
  visibility: visible;
}

#savedWindowList li .text {
  display: inline;
}

#savedWindowList li .text:hover {
  cursor: pointer;
}

/* OPEN */

#savedWindowList li.open {
  color: black;
}

/* CURRENT */

#savedWindowList li.current, #savedWindowList li.current:hover {
  background-color: #ff9;
  color: black;
}

#savedWindowList li.current > .text:hover {
  cursor: default;
}

/* DELETE */

#savedWindowList li .delete {
  margin-left: 20px;
  float: right;
  display: inline;
  visibility: hidden;
  color: white;
  background-color: #fcc;
  text-align: center;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  top: 1px;
}

#savedWindowList li .delete:hover {
  cursor: pointer;
  background-color: #f66;
}

/* DELETED */

#savedWindowList li.deleted, #savedWindowList li.deleted:hover {
  color: black;
  background-color: #fcc;
}

#savedWindowList li.deleted > .text:hover {
  cursor: default;
}

#savedWindowList li.deleted > .delete {
  display: none;
}

#savedWindowList li.deleted > .undo {
  display: inline;
}

#savedWindowList li .undo {
  display: none;
  color: blue;
  float: right;
  margin-left: 20px;
}

#savedWindowList li .undo:hover  {
  cursor: pointer;
}

/* FORM */

#form {
  display: none;
  margin: 5px;
}

input {
  padding: 3px;
  font-weight: bold;
  font-size:100%;
  border: 3px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

/* MISCELLANEOUS */

#incognitoMsg {
  display: none;
  background-color: #fcc;
  border-radius: 10px;
  margin: 10px 5px;
}

#footer {
  font-size: 80%;
  color: #999;
  float: right;
}

#footer a {
  color: #999;
}

#update {
  display: none;
  list-style: disc inside;
}
